<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dc.gtest.vortex">

    <queries>
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="dc.gtest.vortex.application.MyApplication"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        android:exported="true">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="dc.gtest.vortex.activities.MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="dc.gtest.vortex.activities.LoginActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>

        <activity
            android:name="dc.gtest.vortex.activities.AssignmentsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/assignments"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="dc.gtest.vortex.activities.AssignmentDetailActivity"
            android:label="@string/assignment_details"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.MapActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.HistoryActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/history"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.AssignmentActionsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/assignment_actions"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.ProductsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/products"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.AllProductsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/add_new_product"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.AllAttributesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/select_attribute"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.AttributesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attributes"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.items.MeasurementsListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/measurements"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.AddedConsumablesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/select_consumable"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.AllConsumablesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/consumables"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.items.ServicesListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/services"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.items.ServicesToSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/services"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.items.MeasurementsToSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/select_measurement"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.ManualsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/manuals"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.PhotoSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/photo_settings"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.ApiUrlSettingsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/host_server_settings"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.MapsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/map"/>

        <activity
            android:name="dc.gtest.vortex.support.CaptureSignature"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Signature"
            android:theme="@android:style/Theme.Holo.Light.Dialog" />

        <activity
            android:name="dc.gtest.vortex.activities.FullScreenImageActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="dc.gtest.vortex.activities.NewAssignmentActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/new_assignment"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.NewCustomerActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/new_customer"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.SearchCustomersActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/search_customers"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.SearchProductsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/products"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.SearchAttributesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/attributes"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.CompaniesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/companies"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.ServicesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/services"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.UserPartnerResourcesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/resources"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.CompanyDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/company_details"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.ZonesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/zones"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.ZoneProductsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/zone_products"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name="dc.gtest.vortex.activities.ChangeResourceActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:label="@string/change_resource"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.AssignmentTypesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/assignment_types"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.ProjectInstallationActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/installations"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.InstallationDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/installations"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.InstallationZonesActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/installation_zones"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.InstallationZoneEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/installation_zones"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.CustomFieldsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/custom_fields"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.CustomFieldDetailsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/custom_field_details"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="dc.gtest.vortex.activities.CustomFieldDetailsEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/custom_field_details"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation"
            android:stateNotNeeded="true"/>

        <service
            android:name="dc.gtest.vortex.services.SendLocationSRV"
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="true" />
        <!--Old key from Thomas's separate google project. Used in old versions till 2.34 included-->
        <!--<meta-data-->
            <!--android:name="com.google.android.geo.API_KEY"-->
            <!--android:value="AIzaSyCKefpVDRXSuBV_roWLaihycfXCiQIIOL0" />-->

        <!--Current key from Thomas's Vortex Firebase project must be used in all next versions-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBEftz7pxZ1mbFAAE96BX2-AK-IY4ENSK8" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="dc.gtest.vortex"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

    </application>

</manifest>
